<section class="main-body">

<section>
    <h1>Thanks for placing an order!</h1>
</section>

<section class="status">
  <p>
    Order Status: <%= @order_status.capitalize %> 
  </p>
</section>

<section class="purchase description">
<% @order.each do |product| %>
  <p>
    Trip: <%= "#{order.product.name}" %><br>
    Trip Link: <%= link_to "#{order.product.name.capitalize}", product_path(item.product.id) %>
    Trip Quantity: <%= @order_item.quantity %><br>
    Subtotal: <%= @order.total %> 
  </p>
</section>

<section class="order checkout description">
  <p>
    Total Cost: <%= @total %><br>
    Order ID: <%= @order.id %><br>
    Order Received at: <%= @order.datetime %>
  </p>
</section>

<section>
    <h3>Bon Voyage!</h3>
</section>

<nav class="navbar">
  <%=link_to "Home", root_path %>
</nav>