
<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
    <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :cc_name %><br>
    <%= f.text_area :cc_name %>
  </p>
  <p>
    <%= f.label :cc_exp %><br>
    <%= f.text_area :cc_exp %>
  </p>
    <p>
    <%= f.label :cc_num %><br>
    <%= f.text_area :cc_num %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
