<section>
  <h3>Listed Tours</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Rating</th>
        <th>Status</th>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= "$#{sprintf("%.2f",product.price)}" %></td>
          <td><%= product.stock %></td>
          <td><%= product.avrg_rating %></td>
          <td><%= product.status%></td>
          <td> <% product.categories.each do |category| %> 
                <%= link_to category.name, category_path(category.id) %>,
            <% end %> 
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <h3>Order Fulfillment</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Order#</th>
        <th>Date</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
        <% product.orders.each do |order|%>
          <% order.order_items.where(product_id: product.id).each do |order_item|%>
            <% if order.status == "paid" || order.status == "complete"%>
            <tr>
              <td><%= link_to order.id, confirmation_path(order.id) %></td>
              <td><%= order.updated_at %></td>
              <td><%= link_to order_item.product.name, product_path(order_item.product) %></td>
              <td><%= "$#{sprintf("%.2f", order_item.product.price)}" %></td>
              <td><%= order_item.quantity %></td>
              <td><%= "$#{sprintf("%.2f", order_item.total)}" %></td>
              <td><%= order.status %></td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <h3>Order Summary</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Paid</th>
        <th>Complete</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
            <tr>
              <td>$<%= sprintf("%.2f",@merchant.total("paid"))%></td>
              <td>$<%= sprintf("%.2f",@merchant.total("complete"))%></td>
              <td>$<%= sprintf("%.2f",@merchant.total_revenue)%></td>
            </tr>
            <tr>
              <td><%= @merchant.number_orders("paid")%> orders </td>
              <td><%= @merchant.number_orders("complete")%> orders </td>
              <td><%= @merchant.total_orders %> orders </td>
            </tr>
        
    </tbody>
  </table>
</section>