<section>
  <h3>Listed Tours</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Rating</th>
        <th>Status</th>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= sprintf("%.2f",product.price) %></td>
          <td><%= product.stock %></td>
          <td><%= product.avrg_rating %></td>
          <td><%= product.status%></td>
          <td> <% product.categories.each do |category| %> 
                <%= link_to category.name, category_path(category.id) %>,
            <% end %> 
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <h3>Sold Tours</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Order#</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
        <% product.orders.where(status: ["paid", "complete"] ).each do |order|%>
          <% order.order_items.where(product_id: product.id).each do |order_item|%>
            <tr>
              <td><%= order.id %></td>
              <td><%= link_to order_item.product.name, product_path(order_item.product) %></td>
              <td><%= sprintf("%.2f",order_item.product.price) %></td>
              <td><%= order_item.quantity %></td>
              <td>subtotal</td>
              <td><%= order.status %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <h3>Revenue</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Pending</th>
        <th>Paid</th>
        <th>Complete</th>
        <th>Cancelled</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @merchant.products.each do |product| %>
        <% product.orders.where(status: "paid").each do |order|%>
          <% order.order_items.each do |order_item|%>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</section>