<%= form_with model:@product do |f| %>
<p>Please fill out this product's information</p>
  <div>
  <%= f.label :name, "Tour Name" %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
  </div>

  <div>
  <%= f.label :price, "Price" %>
  <%= f.text_field :price %>
  </div>

  <div>
  <%= f.label :stock, "Stock" %>
  <%= f.text_field :stock %>
  </div>

  <div>
  <%= f.label :photo_url, "Photo URL" %>
  <%= f.text_field :photo_url %>
  </div>

  <div>
  <%= f.submit button_text%>
  </div>
<% end %>