<section>
  <div>
    <h2> <%= @product.name %>  </h2>
    <%= image_tag "#{@product.photo_url}", class: "product-image" %>
  </div>
  <div>
    <ul>
      <li><%= "Price: $#{sprintf("%.2f",@product.price)}" %> </li>
      <li><%= "Description #{@product.description}" %> </li>
      <% if @current_user && @current_user == @product.merchant%>
        <li><%= "Stock: #{@product.stock}" %> </li>
        <li><%= "Status: #{@product.status}" %> </li>
      <% end %>
      <li> Categories: 
          <% @product.categories.each do |category| %> 
          <%= link_to category.name, category_path(category.id) %>,
         <% end %>
      </li>
      <% if @current_user && @current_user == @product.merchant%>
        <li><%= link_to "Update Item", edit_product_path(@product), class: "btn btn-light" %></li>
      <% end %>
    </ul>
  </div>

  <div>
  <%= form_for OrderItem.new(product: @product), url: new_order_path do |f| %>
    <%= f.label :quantity, "Qty" %>
    <%= f.number_field :quantity, in: 1..10, value: 1 %>
    <%= f.hidden_field :product_id %>
    <%= f.submit "Add to cart", class: "btn btn-primary" %>
  <% end %>
  </div>
</section>

<section>
<% if @current_user != @product.merchant %>
  <%= link_to "Leave a Review", new_product_review_path(@product.id), class: "btn btn-primary" %>
<% end %>
  <h3>Review</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @product.reviews.each do |review| %>
            <tr>
              <td><%= review.rating %></td>
              <td><%= review.comment%></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</section>