<section>
  <div>
    <h2> <%= @product.name %>  </h2>
    <%= image_tag "#{@product.photo_url}", class: "product-image" %>
  </div>
  <div>
    <ul>
      <li><%= "price: #{@product.price}" %> </li>
      <li><%= "Description #{@product.description}" %> </li>
    </ul>
    <% if @current_user == @product.merchant_id%>
      <%= link_to "Update", edit_product_path(@product), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
  <%= form_for OrderItem.new(product: @product), url: new_order_path do |f| %>
    <%= f.label :quantity, "Qty" %>
    <%= f.number_field :quantity, in: 1..10, value: 1 %>
    <%= f.hidden_field :product_id %>
    <%= f.submit "Add to cart", class: "btn btn-primary" %>
  <% end %>
  </div>
</section>