<!DOCTYPE html>
<html>
  <head>
    <title>Planetsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Domine' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand"> 
        <%= link_to "Planetsy", root_path %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" nav-header collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="nav site-nav-container">
            <li class="nav-item">
                <%= link_to "All Tours", products_path %>
            </li>
            <li class="nav-item">
                <%= link_to "All Categories", categories_path %>
            </li>
            <li class="nav-item">
                <%= link_to "All Merchants", merchants_path %>
            </li class="nav-item">
            <li class="nav-item">
            <% if @current_user %>
            <div class="dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">
                <%= "Welcome #{@current_user.name}" %>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to "Dashboard #{@current_user.name}", dashboard_path(@current_user), class: "dropdown-item" %>
                <%= link_to "View your tours", merchant_path(session[:merchant_id]), class: "dropdown-item" %>
                <%= link_to "Add New Tour", new_product_path, class: "dropdown-item" %>
                <%= link_to "View all Categories", categories_path, class: "dropdown-item" %>
                <%= link_to "Add New Category", new_category_path, class: "dropdown-item" %>
              </div>
            </div>
            <% end %>
            </li>
          </ul>
          <ul class="nav user-nav-container">
            <% if @current_user %>
            <li class="nav-item">
              <%= link_to "Logged in as #{@current_user.username}", merchant_path(@current_user) %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>

            <% else %>

            <li class="nav-item">
              <%= link_to "Login with GitHub", github_login_path %>
            </li>
            <% end %>     
            <li class="nav-item">
                <%= link_to "My Cart", orders_path %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <% if flash[:result_text] or flash[:messages] %>
    <section class="alert_container">
      <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
        <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
        <% if flash[:messages] %>
          <ul>
            <% flash[:messages].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li><%= name %>: <%= problem %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>
  <% end %>

    <main>
      <%= yield %>
    </main>
    <footer>
      <p>&copy; Copyring 2019, Planetsy</p> 
      <p>Powered by n2rk</p>
    </footer>
  </body>
</html>
